pypdf
azure-identity
azure-search-documents==11.4.0b8
azure-ai-formrecognizer
azure-storage-blob
azure-storage-file-datalake
openai[datalib]
tiktoken
tenacity
azure-keyvault-secrets
Pillow
PyMuPDF
types-Pillow
