pypdf==3.9.0
azure-identity==1.13.0
azure-search-documents==11.4.0b8
azure-ai-formrecognizer==3.2.1
azure-storage-blob==12.14.1
openai[datalib]==0.28.0
tenacity==8.2.2
PyMuPDF==1.22.5
Pillow==10.0.0
azure-keyvault-secrets==4.7.0
